body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #dcf2ff;
}

/* Header */
.header {
    text-align: center;
    background-color: #0077b6;
    color: white;
    padding: 20px 0;
}

/* ABOUT BOX */
.about-container {
    width: 80%;
    margin: 20px auto;
    color: #0077b6;
    background-color: #f0faff ;
    font-size: 8px;
    color: #0077b6; ;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 160px;
    border: #0077b6 1px solid;
    line-height: 20px;
    overflow: scroll;
    h3{
        border: inherit;
    }
}



.about-box {
    background-color: #f0faff;
    border: 1px solid #0077b6;
    padding: 15px;
    height: 150px;
    overflow-y: scroll;
    font-size: 13px;
    line-height: 1.6;
}

/* SKILLS */
.skills {
    margin-left: 30px;
    color: #004a8f;
}

.skills ul {
    margin-top: 5px;
}

/* PROJECTS */
.projects-section {
    width: 90%;
    margin: 40px auto;
    background-color: #f0faff;
    padding: 20px;
    border: 1px dashed #0077b6;
}

.projects-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.project-card {
    width: 230px;
    background: #fff;
    border: 2px solid #7baedc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.project-card img {
    width: 70px;
    margin-bottom: 10px;
}

.project-card h3 {
    color: #004a8f;
    margin-bottom: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    background: #0077b6;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
